@use "sass:map";
@use "../../../styles/typography" as typo;
@use "../../../styles/variables" as vars;

.description {
  margin-top: 140px;
  display: flex;
  gap: 40px;
  align-items: center;

  &__title {
    padding: 8px 16px;
    background-color: vars.$color-text-green;
    font-size: map.get(map.get(typo.$typography-desktop, "h2"), "font-size");
  }
  &__subtitle {
    max-width: 580px;
    width: 100%;
  }
}
