// ======= 1. Цвета =======
@use "sass:map";

$colors: (
  green: #b9ff66,
  dark: #191a23,
  white: #ffff,
  grey: #f3f3f3,
);

// Семантические названия цветов

$color-text-green: map.get($colors, green);
$color-text-dark: map.get($colors, dark);
$color-text-white: map.get($colors, white);
$color-text-grey: map.get($colors, grey);

// ======= 2. Шрифты =======

$font-main: "Space Grotesk", sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$letter-spacing-base: 0;
