@import "../../../styles/typography.scss";
@import "../../../styles/variables.scss";

.header {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;

  a {
    text-decoration: none;
    color: $color-text-dark;
  }

  &__logo {
    display: flex;
    gap: 13px;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__list {
    display: flex;
    gap: 40px;
  }
  &__item {
    list-style: none;
  }
}
